.categories{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(600px,1fr));
  gap: 0;
  
}
.h-categories{
  font-family:'Righteous';
  font-weight: 550;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 40px;
}
  .details-categories{
    display: flex;
  }
  .details-categories p{
    margin: 10px;
    font-size: 20px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.77);
    font-family: 'Roboto'  }
  .box{
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    
  }
  .box h2{
    font-family:'Righteous' ;
    font-size: 33px;
    font-weight: lighter;
  }
  .box h1{
    font-family:'Roboto' ;
    font-size: 22px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
  }
  .button-categories{
    display: flex;
    margin-top: 10px;
  }
  .button-categories button{
    border-radius: 30px;
    padding: 7px 30px 7px 30px;
    margin: 10px;
  }
  .button-categories Link{
    border-radius: 30px;
    padding: 7px 30px 7px 30px;
    margin: 10px;
  }
  .button-categories .details{
   background: none;
   font-family:'Righteous' ;
   font-size: 20px;
   border: 1px solid rgba(151, 110, 114, 1);
  }
  .button-categories .buy{
    font-family:'Righteous' ;
    font-size: 20px;
    border: 1px solid rgba(151, 110, 114, 1);
    background-color:  rgba(151, 110, 114, 1);
    color: #fff;
    font-weight: lighter;
   }